# dependencies
node_modules/
.pnp
.pnp.js

# next.js / build output
.next/
out/
build/
dist/

# testing
coverage/

# env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# editors / os
.DS_Store
.idea/
.vscode/
*.swp
